@charset "UTF-8";

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: local("../fonts/Lato Regular"), local("../fonts/Lato-Regular"), url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.eot");
  src: local("../fonts/Lato Semibold"), local("../fonts/Lato-Semibold"), url("../fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.eot");
  src: local("../fonts/Lato Bold"), local("../fonts/Lato-Bold"), url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.eot");
  src: local("../fonts/Lato Light"), local("../fonts/Lato-Light"), url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #331A2F;
  font-size: 14px;
  background: url(../img/BG-Ellipse.png) top left/auto no-repeat, url(../img/BG-Ellipse-right.png) right 500px/auto no-repeat;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1530px;
  margin: 0 auto;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}

.moretext__more span {
  font-style: normal;
}

.moretext__more span:first-child {
  display: block;
}

.moretext__more span:last-child {
  display: none;
}

.moretext__more.active span {
  font-style: normal;
}

.moretext__more.active span:first-child {
  display: none;
}

.moretext__more.active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider .slick-slide {
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}

.baloon button {
  display: none !important;
}

.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}

.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}

.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.icon-menu {
  display: none;
}

.header {
  padding-top: 23px;
}

.header__content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.logo {
  display: block;
  max-width: 489px;
}

.logo--mobile {
  display: none;
}

.logo img {
  width: 100%;
}

.nav {
  margin-left: 31px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list li {
  margin-right: 50px;
  cursor: pointer;
}

.nav__list li:last-child {
  margin-right: 0;
}

.nav__list a {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #331A2F;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nav__list a:hover {
  color: #CF51CE;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.has-subnav {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: url(../img/arrow.png) right center/10px 9px no-repeat;
  padding-right: 20px;
}

.has-subnav:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: url(../img/arrow-hv.png) right center/10px 9px no-repeat;
}

.has-subnav:hover a {
  color: #CF51CE;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #331A2F;
  margin-left: 213px;
}

.phone-number:hover {
  color: #CF51CE;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.phone-number:hover svg {
  fill: #CF51CE;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.phone-number svg {
  max-width: 22px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-right: 10px;
  margin-top: -3px;
}

.login__button {
  width: 169px;
  height: 45px;
  margin-left: auto;
}

.login__button svg {
  max-width: 23px;
  margin-right: 14px;
  fill: #fff;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  background: #CF51CE;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 23px;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.icon {
  background: #CF51CE;
  -webkit-box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
          box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
}

.text {
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
  color: rgba(51, 26, 47, 0.8);
  margin-bottom: 15px;
}

.emphasis {
  display: inline-block;
  position: relative;
}

.emphasis:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  background: -o-linear-gradient(185.09deg, #7C4EAB 0.73%, #DD51D4 95.85%);
  background: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
  border-radius: 5px;
  left: 0;
  bottom: 0;
}

.emphasis span {
  color: #EA5DBB;
  margin: 0;
}

.subtitle {
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
  text-align: center;
}

.breadcrumbs {
  margin: 66px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__link {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.breadcrumbs__link:hover {
  color: #CF51CE;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.breadcrumbs__text {
  color: rgba(51, 26, 47, 0.5);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs__separator {
  margin: 0 8px;
}

.start-screen {
  position: relative;
}

.start-screen__content {
  padding-right: 42px;
}

.start-screen__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
}

.start-screen__title span {
  color: #CF51CE;
}

.start-screen__price-block {
  margin: 22px 0 16px;
  max-height: 55px;
}

.start-screen__visual {
  width: 620px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.start-screen__visual img {
  width: 100%;
}

.start-screen__img--mobile {
  display: none;
}

.price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(51, 26, 47, 0.8);
  font-size: 20px;
  line-height: 29px;
  font-weight: 600;
}

.price-block svg {
  max-width: 48px;
  fill: #CF51CE;
  margin-right: 25px;
}

.price-block__price {
  font-size: 35px;
  line-height: 29px;
  color: #CF51CE;
  margin: 0 5px;
  font-weight: 600;
}

.about {
  padding-top: 147px;
}

.about__title {
  margin-bottom: 85px;
}

.about__inforow {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.inforow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inforow--left .inforow__content {
  padding-left: 82px;
}

.inforow--right .inforow__content {
  padding-right: 82px;
}

.inforow__visual {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.inforow__visual img {
  max-width: 474px;
}

.training {
  padding: 140px 0 131px;
}

.training__subtitle {
  margin: 23px 0 85px;
}

.training__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.training__infocolumn {
  width: 290px;
}

.infocolumn__icon {
  width: 70px;
  height: 70px;
}

.infocolumn__icon svg {
  fill: #FFFFFF;
  width: 48px;
}

.infocolumn__caption {
  margin: 30px 0 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

.infocolumn__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: rgba(51, 26, 47, 0.8);
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1212.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 1735px) {
  body {
    background: url(../img/BG-Ellipse.png) -30px top/auto no-repeat, url(../img/BG-Ellipse-right.png) right 500px/auto no-repeat;
  }
}

@media (max-width: 1542px) {
  body {
    background: url(../img/BG-Ellipse-small.png) top left/auto no-repeat;
  }

  ._container {
    max-width: 1200px;
  }

  .logo {
    max-width: 380px;
  }

  .nav {
    margin-left: 28px;
  }

  .nav__list li {
    margin-right: 40px;
  }

  .nav__list a {
    font-size: 18px;
  }

  .phone-number {
    margin-left: 135px;
    font-size: 18px;
  }

  .phone-number svg {
    max-width: 20px;
  }

  .login__button {
    width: 152px;
    height: 44px;
  }

  .login__button svg {
    max-width: 20px;
  }

  .button {
    font-size: 18px;
  }

  .title {
    font-size: 40px;
  }

  .text {
    font-size: 20px;
  }

  .subtitle {
    font-size: 20px;
  }

  .start-screen__content {
    padding-right: 31px;
  }

  .start-screen__title {
    font-size: 46px;
    line-height: 65px;
  }

  .start-screen__price-block {
    margin: 40px 0;
  }

  .start-screen__visual {
    width: 458px;
  }

  .about {
    padding-top: 77px;
  }

  .about__inforow {
    max-width: 995px;
  }

  .inforow__visual img {
    max-width: 358px;
  }

  .training {
    padding: 140px 0 121px;
  }

  .training__infocolumn {
    width: 226px;
  }

  .infocolumn__icon {
    width: 60px;
    height: 60px;
  }

  .infocolumn__icon svg {
    width: 38px;
  }

  .infocolumn__caption {
    margin: 20px 0 10px;
    font-size: 20px;
  }

  .infocolumn__text {
    font-size: 15px;
  }
}

@media (max-width: 1212.98px) {
  body {
    background: url(../img/BG-Ellipse-small.png) top left/0 no-repeat;
  }

  ._container {
    max-width: 738px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .icon-menu {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 42px;
    height: 28px;
    cursor: pointer;
    z-index: 5;
    text-align: right;
    margin-left: 79px;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 2px);
    right: 0px;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #CF51CE;
    border-radius: 4px;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
    width: 80%;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 2px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 2px);
    width: 100%;
  }

  .nav {
    display: none;
  }

  .phone-number {
    display: none;
  }

  .login__button {
    width: 158px;
    height: 44px;
  }

  .button {
    font-size: 20px;
  }

  .emphasis:before {
    height: 6px;
  }

  .breadcrumbs {
    margin: 45px 0 15px;
  }

  .start-screen__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .start-screen__content {
    padding-right: 0;
  }

  .start-screen__content .text {
    width: calc(100% - 80px);
  }

  .start-screen__price-block {
    margin: 18px 0 17px;
  }

  .start-screen__visual {
    position: absolute;
    width: auto;
    right: 0;
    top: 155px;
  }

  .start-screen__img--desctop {
    display: none;
  }

  .start-screen__img--mobile {
    display: block;
  }

  .about {
    padding-top: 65px;
  }

  .about__title {
    margin-bottom: 80px;
  }

  .about__title {
    margin-bottom: 50px;
  }

  .about__inforow {
    max-width: 100%;
    margin-bottom: 60px;
  }

  .about__inforow:last-child {
    margin-bottom: 0;
  }

  .inforow--left .inforow__content {
    padding-left: 41px;
  }

  .inforow--right .inforow__content {
    padding-right: 41px;
  }

  .inforow__visual img {
    max-width: 270px;
  }

  .training {
    padding: 120px 0 85px;
  }

  .training__subtitle {
    margin: 22px 0 80px;
  }

  .training__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 570px;
    margin: 0 auto;
  }

  .training__infocolumn {
    width: 255px;
    margin-bottom: 60px;
  }

  .infocolumn__text {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .start-screen__content .text {
    width: calc(100% - 230px);
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 15px;
  }

  .icon-menu {
    margin-left: 22px;
  }

  .logo--desctop {
    display: none;
  }

  .logo--mobile {
    display: block;
  }

  .logo {
    max-width: 140px;
  }

  .login__button {
    width: 103px;
    height: 36px;
  }

  .login__button svg {
    max-width: 13px;
    margin-right: 8px;
  }

  .button {
    font-size: 14px;
    line-height: 28px;
  }

  .title {
    font-size: 24px;
    line-height: 150%;
  }

  .text {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 18px;
  }

  .breadcrumbs {
    margin: 40px 0 44px;
  }

  .start-screen__title {
    font-size: 26px;
    line-height: 150%;
    width: calc(100% - 130px);
  }

  .start-screen__price-block {
    margin: 24px 0 16px;
  }

  .start-screen__visual {
    top: -68px;
    right: -13px;
    width: 160px;
  }

  .about {
    padding-top: 85px;
  }

  .inforow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }

  .inforow--left .inforow__content {
    padding-left: 0;
  }

  .inforow--right .inforow__content {
    padding-right: 0;
  }

  .inforow__visual {
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .inforow__visual img {
    max-width: 268px;
  }

  .inforow__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-top: 30px;
  }

  .training {
    padding: 100px 0 69px;
  }

  .training__subtitle {
    margin: 21px 0 50px;
  }

  .training__row {
    width: 100%;
    padding: 0 35px;
  }

  .training__infocolumn {
    width: 100%;
    margin-bottom: 40px;
  }

  .infocolumn {
    text-align: center;
  }

  .infocolumn__icon {
    margin: 0 auto;
  }

  .infocolumn__caption {
    font-size: 18px;
  }
}

@media (max-width: 479.98px) {
  .start-screen__content .text {
    width: 100%;
  }
}
@supports (-webkit-appearance:none){
body{background:url(../img/BG-Ellipse.webp) top left/auto no-repeat, url(../img/BG-Ellipse-right.png) right 500px/auto no-repeat}
.select__value:before{background:url("../img/icons/select.svg") center/100% no-repeat}
.checkbox__input:checked + .checkbox__text:before{background:#fff url("../img/icons/check.svg") center no-repeat}
.rating__line{background:url("../img/icons/bg_rating.svg") 0 0 no-repeat}
.rating__activeline{background:url("../img/icons/bg_rating_active.svg") 0 0 no-repeat}
#map{background:url("../img/icons/loading.gif") center/50px no-repeat}
.popup__close{background:url("../img/icons/close.svg") 0 0 no-repeat}
.has-subnav{background:url(../img/arrow.webp) right center/10px 9px no-repeat}
.has-subnav:hover{background:url(../img/arrow-hv.webp) right center/10px 9px no-repeat}
}

 @media (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1212.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1735px){

@supports (-webkit-appearance:none){
body{background:url(../img/BG-Ellipse.webp) -30px top/auto no-repeat, url(../img/BG-Ellipse-right.png) right 500px/auto no-repeat}
}

}

 @media (max-width: 1542px){

@supports (-webkit-appearance:none){
body{background:url(../img/BG-Ellipse-small.webp) top left/auto no-repeat}
}

}

 @media (max-width: 1212.98px){

@supports (-webkit-appearance:none){
body{background:url(../img/BG-Ellipse-small.webp) top left/0 no-repeat}
}

}

 @media (max-width: 991px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 479.98px){

@supports (-webkit-appearance:none){

}

}
